
.content {
        width: 50%;
        margin:auto;
}

.title {
    text-align: center;
}

.page-title
{
    text-align: center;
    margin: auto;
}

.project-description img {
    height: 150px;
    margin: 10px;
    vertical-align: top;
}

.project-description-text {
    height: 50px;
    overflow: hidden;
  }

  .project-description {
    display: inline-flex;
    width: auto;
    height: 250px;
    margin: 10px;
}

.separator {
    border-bottom: 1px solid black;
}

iframe {
    display: block;
    margin: auto;
}